<h1>App Component</h1>

<div>
  <a [routerLink]="[ '/tipo-produto/create' ]">[Form] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/tipo-produto' ]">[List] Tipo produto</a>
</div>
<div>
  <a [routerLink]="[ '/pessoa' ]">[List] Pessoa</a>
</div>
<div>
  <a [routerLink]="[ '/input' ]">[Input] Decorator</a>
</div>
<div>
  <a [routerLink]="[ '/reactive' ]">[Forms] Reactive forms</a>
</div>
<div>
  <a [routerLink]="[ '/pessoa/create' ]">
    [Forms] Pessoa
  </a>
</div>

<router-outlet></router-outlet>
